#title {
  background-color: white;
}

#heading {
  margin: 25px;
  margin-bottom: 15px;
  padding: 5px;
  width: 100vw;
  height: 10vh;
}

#amazon {
  height: 60px;
}

#amazon:hover {
  cursor: pointer;
}

#search {
  position: relative;
  display: inline-block;
  margin: 2px;
  left: 5%;
  top: -30px;
  width: 50%;
  height: 40px;
  border: 2px solid rgb(254,188,105);
  border-radius: 5px;
  background-color: white;
}

#text {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px;
  border: 0;
  width: 92%;
  height: 30px;
  font-size: 20px;
}

#button {
  position: absolute;
  padding-left: 0;
  padding-right: 0;
  right: 0;
  width: 8%;
  height: 40px;
  border: none;
  background-color: rgb(254,188,105);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

#test {
  border-radius: 5px;
  border: 0;
  height: 25px;
  background-color: rgb(254,188,105);
}

#container {
  position: relative;
  margin: 5%;
  margin-top: 30px;
}

#outcome {
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
  font-family: sans-serif;
}

#products {
  width: 100%;
  margin: auto;
}

.allProducts {
  width: 80%;
  margin: auto;
}

.product {
  position: relative;
  display: inline-block;
  margin: auto;
  margin-top: 0;
  padding: 10px;
  width: 95%;
  border-bottom: 1px solid gray;
  font-family: sans-serif;
}

.allImages {
  width: 80%;
  margin: auto;
}

.imageBox {
  position: relative;
  display: inline-block;
  margin: 10px;
  top: 0;
  width: 200px;
  height: 200px;
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 100%;
  max-height: 100%;
}

.image:hover {
  cursor: pointer;
}

.info {
  position: absolute;
  display: inline-block;
  margin-left: 15px;
  height: 20%;
}

.description {
  top: 0;
  width: 98%;
}

.description:hover {
  cursor: pointer;
}

.brand {
  font-size: 11px;
}

.price {
  margin-top: 2%;
  font-size: 20px;
}

.price:hover {
  cursor: pointer;
}

.productPage {
  position: relative;
  display: inline-block;
  margin: auto;
  margin-top: 0;
  width: 100%;
  font-family: sans-serif;
}

.imageBoxProduct {
  position: relative;
  display: inline-block;
  margin: 5px;
  top: 0;
  height: 60vh;
  width: 25vw;
}

.imageProduct {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 100%;
  max-height: 100%;
}

.infoProduct {
  position: absolute;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  height: 100%;
  width: 35vw;
}

.descriptionProduct {
  top: 10px;
  width: 98%;
  font-size: 22px;
}

.brandIntro {
  display: inline-block;
  font-size: 13px;
}

.brandOnly {
  display: inline-block;
  color: rgb(0,107,204);
}

.priceProduct {
  margin-top: 2%;
  font-size: 20px;
  color: rgb(177,39,4);
}

.cartBox {
  position: absolute;
  display: inline-block;
  right: 0;
  margin-left: 15px;
  height: 100%;
  width: 200px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.addButton {
  position: absolute;
  width: 85%;
  height: 30px;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-indent: 15%;
  font-family: sans-serif;
  font-size: 12px;
  border-radius: 5px;
  box-shadow: none;
  background-color: rgb(245,213,137);
  /* add linear gradient */
  border: .8 solid black;
}

.cartImage {
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  color: white;
  background-color: black;
}
