#title {
  background-color: white;
}

#heading {
  margin: 25px;
  margin-bottom: 15px;
  padding: 5px;
  width: 100vw;
  height: 10vh;
}

#amazon {
  height: 60px;
}

#amazon:hover {
  cursor: pointer;
}

#search {
  position: relative;
  display: inline-block;
  margin: 2px;
  left: 5%;
  top: -30px;
  width: 50%;
  height: 40px;
  border: 2px solid rgb(254,188,105);
  border-radius: 5px;
  background-color: white;
}

#text {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px;
  border: 0;
  width: 92%;
  height: 30px;
  font-size: 20px;
}

#button {
  position: absolute;
  padding-left: 0;
  padding-right: 0;
  right: 0;
  width: 8%;
  height: 40px;
  border: none;
  background-color: rgb(254,188,105);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

#test {
  border-radius: 5px;
  border: 0;
  height: 25px;
  background-color: rgb(254,188,105);
}

#container {
  position: relative;
  margin: 5%;
  margin-top: 30px;
}

#outcome {
  width: 100%;
  margin: auto;
  margin-bottom: 10px;
  font-family: sans-serif;
}

#products {
  width: 100%;
  margin: auto;
}

.consider {
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
}

/* Refresh view of random products */
.allImages {
  width: 80%;
  margin: auto;
}

/* Search Results */
.allProducts {
  width: 80%;
  margin: auto;
}

.product {
  position: relative;
  display: inline-block;
  margin: auto;
  margin-top: 0;
  padding: 10px;
  width: 95%;
  border-bottom: 1px solid gray;
  font-family: sans-serif;
}

.imageBox {
  position: relative;
  display: inline-block;
  margin: 10px;
  top: 0;
  width: 200px;
  height: 200px;
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 100%;
  max-height: 100%;
}

.image:hover {
  cursor: pointer;
}

.info {
  position: absolute;
  display: inline-block;
  margin-left: 15px;
  height: 20%;
}

.description {
  top: 0;
  width: 98%;
  color: rgb(0,102,192);
}

.description:hover {
  cursor: pointer;
  color: rgb(196,85,0);
}

.brand {
  font-size: 11px;
}

.price {
  margin-top: 2%;
  font-size: 20px;
}

.price:hover {
  cursor: pointer;
}

/* Back */
.backImages {
  color: blue;
}

.backImages:hover {
  cursor: pointer;
  text-decoration: underline;
}

.backResults {
  color: blue;
}

.backResults:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Product View */
.productPage {
  position: relative;
  display: inline-block;
  margin: auto;
  margin-top: 0;
  width: 100%;
  font-family: sans-serif;
}

.imageBoxProduct {
  position: relative;
  display: inline-block;
  margin: 5px;
  top: 0;
  height: 60vh;
  width: 25vw;
}

.imageProduct {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 100%;
  max-height: 100%;
}

.infoProduct {
  position: absolute;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  width: 35vw;
}

.descriptionProduct {
  top: 10px;
  width: 98%;
  font-size: 22px;
}

.brandIntro {
  display: inline-block;
  font-size: 13px;
}

.brandOnly {
  display: inline-block;
  color: rgb(0,107,204);
}

.priceProduct {
  margin-top: 2%;
  font-size: 20px;
  color: rgb(177,39,4);
}

.details {
  padding-left: 20px;
  margin-right: 5px;
  font-family: sans-serif;
  font-size: 13px;
  letter-spacing: .03em;
  line-height: 15px;
}

.detailLine {
  margin-bottom: 2px;
}

.cartBox {
  position: absolute;
  display: inline-block;
  right: 0;
  margin-left: 15px;
  height: 100%;
  width: 200px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.addCart {
  margin-top: 20px;
  left: 50%;
  height: 30%;
}

.quantity {
  position: absolute;
  margin: 5px;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.addButton {
  position: absolute;
  width: 85%;
  height: 30px;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-indent: 15%;
  font-family: sans-serif;
  font-size: 12px;
  border-radius: 5px;
  box-shadow: none;
  background-color: rgb(245,213,137);
  border: .8 solid black;
}

.cartImage {
  position: absolute;
  left: -3px;
  top: 50%;
  transform: translateY(-50%);
}

/* Product added to cart confirmation */
.addProduct {
  position: relative;
  width: 90%;
  margin: auto;
  font-family: sans-serif;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.itemQuantity {
  display: inline-block;
  width: 67%;
  margin: 10px;
  border-right: 1px solid lightgray;
}

.check {
  margin: 0;
  color: green;
}

.numberAdded {
  display: inline-block;
  margin-left: 10px;
  font-size: 24px;
  color: green;
}

.imageDescriptionAdded {
  margin-top: 5px;
}

.imageAdded {
  width: 25%;
  margin-left: 2%;
}

.descriptionPriceAdded {
  position: absolute;
  display: inline-block;
  margin: 10px;
  width: 48%;
  height: 80%;
}

.descriptionAdded {
  position: relative;
  display: inline-block;
  font-size: 20px;
  color: rgb(0,102,192);
}

.descriptionAdded:hover {
  cursor: pointer;
  color: rgb(196,85,0);
}

.priceAdded {
  color: rgb(177,39,4);
  font-size: 18px;
}

.miniSummary {
  position: absolute;
  display: inline-block;
  margin: 10px;
  margin-left: 0;
  width: 30%;
  height: 93%;
  font-size: 24px;
  font-weight: bold;
}

.miniItemTotal {
  display: inline-block;
}

.miniSubtotal {
  color: rgb(177,39,4);
  display: inline;
  margin-left: 5px;
}

.viewCartButton {
  position: relative;
  width: 100px;
  height: 40px;
  margin-top: 5%;
  margin-left: 50%;
  transform: translateX(-50%);
}

#cart {
  position: relative;
  margin: 2%;
  margin-top: 30px;
}

/* Shopping Cart Summary */
.cartMain {
  display: inline-block;
  margin: 0;
  width: 75%;
  font-family: sans-serif;
}

.cartHeaderLabel {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 65%;
  font-size: 25px;
  font-weight: bold;
}

.emptyCart {
  font-size: 25px;
  font-weight: bold;
}

.cartPrice {
  position: relative;
  display: inline-block;
  top: 15px;
  width: 25%;
  font-size: 14px;
}

.cartQuantity {
  position: relative;
  display: inline-block;
  top: 15px;
  width: 10%;
  font-size: 14px;
}

.productCart {
  width: 100%;
  border-top: 1px solid gray;
}

.productCartBox {
  display: inline-block;
  margin-top: 0;
  width: 100%;
  border-bottom: 1px solid gray;
}

.imageInfoCart {
  display: inline-block;
  width: 65%;
  margin-right: 0;
}

.imageCartBox {
  position: relative;
  display: inline-block;
  margin: 5px;
  top: 0;
  width: 100px;
  height: 100px;
}

.imageCart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 100%;
  max-height: 100%;
}

.imageCart:hover {
  cursor: pointer;
}

.infoCart {
  position: absolute;
  display: inline-block;
  margin-top: 5px;
  width: 35%;
  height: 100px;
}

.descriptionCart {
  position: relative;
  margin: 5px;
  margin-top: 0;
  margin-bottom: 3px;
  color: rgb(0,102,192);
  font-size: 15px;
  font-weight: bold;
}

.descriptionCart:hover {
  cursor: pointer;
  color: rgb(196,85,0);
  text-decoration: underline;
}

.brandCart {
  position: relative;
  margin-left: 5px;
  font-size: 12px;
}

.deleteProduct {
  position: absolute;
  margin-left: 5px;
  font-size: 13px;
  bottom: 0;
  color: rgb(0,102,192);
}

.deleteProduct:hover {
  cursor: pointer;
  color: rgb(229,121,86);
  text-decoration: underline;
}

.priceCart {
  position: relative;
  display: inline-block;
  bottom: 87px;
  width: 25%;
  color: rgb(177,39,4);
  font-weight: bold;
}

.quantityCart {
  position: relative;
  display: inline-block;
  bottom: 87px;
  width: 8%;
  text-indent: 5px;
}

.subtotalCart {
  margin-top: 5px;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: .02em;
}

.subtotalItemCart {
  position: relative;
  display: inline;
  margin-right: 5px;
  text-align: right;
  float: right;
}

.subtotalPriceCart {
  position: relative;
  display: inline;
  margin-right: 5px;
  color: rgb(177,39,4);
  float: right;
}

.subtotalBox {
  position: absolute;
  display: inline-block;
  margin-left: 4%;
  width: 20%;
  height: 200px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.subtotalBoxSummary {
  margin-top: 10px;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: .02em;
  font-family: sans-serif;
}

.subtotalItemSummary {
  display: inline;
  margin-left: 10px;
  text-align: right;
}

.subtotalPriceSummary {
  display: inline;
  margin-left: 5px;
  margin-right: 10px;
  color: rgb(177,39,4);
}

.hidden {
  display: none;
}
